{% extends "users/base.html" %}
{% load static %}
{% block content %}

<div class="container py-3">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}


    <div class="d-flex justify-content-center">
        <h1>Bayar Transaksi</h1>
    </div>
    
    <div class="d-flex align-items-center">
        <h4 class="m-0 p-0">Tanggal Transaksi : </h4>
        <h4 class="m-0 p-0"> {{ tanggal_transaksi }}</h4>
    </div>
    
    <div class="d-flex align-items-center">
        <h4 class="m-0 p-0">Waktu Transaksi : </h4>
        <h4 class="m-0 p-0">  {{ waktu_transaksi }}</h4>
    </div>

    <table class="table mt-3">
        <thead class="bg-1">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama Event</th>
            <th scope="col">Nama Pemilik Tiket</th>
            <th scope="col">Nama Kelas</th>
            <th scope="col">Tarif</th>
          </tr>
        </thead>
        <tbody>
            <tr class="bg-4 {{testimoni.6}">
                <th scope="row">{{number}}</th>
                <td>{{nama_event}}</td>
                <td>{{nama_depan}}</td>
                <td>{{nama_kelas_tiket}}</td>
                <td>{{tarif}}</td>
            </tr>     
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <h4 class="m-0 p-0">Total Bayar : </h4>
        <h4 class="m-0 p-0">Rp. {{ tarif }}</h4>
    </div>

    <div class="d-flex align-items-center">
        <h4 class="m-0 p-0">Bayar dengan dompet digital </h4>
    </div>

       
    <table class="table mt-3">
        <thead class="bg-1">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama Dompet</th>
            <th scope="col">No Akun</th>
            <th scope="col">Saldo</th>
            <th scope="col">[Bayar Dengan Akun Ini]</th>
          </tr>
        </thead>
        <tbody>
            {% for dompet in dompet_query %}
                <tr class="bg-4 {{dompet.4}}">
                    <th scope="row">{{dompet.0}}</th>
                    <td>{{dompet.1}}</td>
                    <td>{{dompet.2}}</td>
                    <td>{{dompet.3}}</td>
                    <td>
                        <form method="POST" action="{% url 'testimoni:bayar_transaksi' %}">
                            {% csrf_token %}
                            <input type="hidden" name="email_pengunjung" id="email_pengunjung"  value="{{email_pengunjung}}">
                            <input type="hidden" name="waktu_transaksi" id="waktu_transaksi"  value="{{waktu_transaksi}}">
                            <input type="hidden" name="tanggal_transaksi" id="tanggal_transaksi"  value="{{tanggal_transaksi}}">
                            <input type="hidden" name="no_akun_dompet" id="no_akun_dompet"  value="{{dompet.2}}">
                            <input type="hidden" name="total_bayar" id="total_bayar"  value="{{tarif}}">
                            <button type="submit" id="topup_btn" class="btn btn-success">
                                Bayar Dengan Akun Ini
                            </button>                   
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<script src="{% static 'dompet_js/topup.js' %}"></script>

{% endblock %}