{% extends "users/base.html" %}
{% load static %}
{% block content %}

<div class="container py-3">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}


    <div class="d-flex justify-content-center">
        <h1>Konfirmasi Transaksi</h1>
    </div>

    <div class="d-flex align-items-center">
      <h4 class="m-0 p-0">Nama Dompet : </h4>
      <h4 class="m-0 p-0"> {{ nama_dompet }}</h4>
    </div>

    <div class="d-flex align-items-center">
      <h4 class="m-0 p-0">No Akun Dompet : </h4>
      <h4 class="m-0 p-0"> {{ no_akun_dompet }}</h4>
    </div>

    <div class="d-flex align-items-center">
      <h4 class="m-0 p-0">Saldo Awal : </h4>
      <h4 class="m-0 p-0">Rp. {{ saldo }}</h4>
    </div>

    <div class="d-flex align-items-center">
      <h4 class="m-0 p-0">Total Bayar : </h4>
      <h4 class="m-0 p-0">Rp. {{ total_bayar }}</h4>
    </div>

    <br>
    <div class="d-flex align-items-center">
      <h4 class="m-0 p-0">Sisa Saldo: </h4>
      <h4 class="m-0 p-0">Rp. {{ after_purchase}}</h4>
    </div>
    <br>

    <div class="d-flex justify-content-center">
      <h4 class="m-0 p-0">Apakah anda yakin untuk membayar transaksi ini? </h4>
    </div>

    <form method="POST" action="{% url 'testimoni:proses_transaksi' %}">
      {% csrf_token %}
      <div class="d-flex justify-content-center">
        <input type="hidden" name="email_pengunjung" id="email_pengunjung"  value="{{email_pengunjung}}">
        <input type="hidden" name="waktu_transaksi" id="waktu_transaksi"  value="{{waktu_transaksi}}">
        <input type="hidden" name="tanggal_transaksi" id="tanggal_transaksi"  value="{{tanggal_transaksi}}">
        <input type="hidden" name="no_akun_dompet" id="no_akun_dompet"  value="{{no_akun_dompet}}">
        <input type="hidden" name="total_bayar" id="total_bayar"  value="{{total_bayar}}">
        <input type="hidden" name="sisa_saldo" id="sisa_saldo"  value="{{after_purchase}}">
        <button type="submit" id="topup_btn" class="btn btn-success" >
          Ya
        </button>
        <input type="hidden" name="status" id="status"  value="PROCESS">
      </div>
    </form>
    
    <form method="POST" action="{% url 'testimoni:proses_transaksi' %}">
      {% csrf_token %}
        <div class="d-flex justify-content-center">
        <button type="submit" id="topup_btn" class="btn btn-danger" >
          Cancel
        </button>
        <input type="hidden" name="status" id="status"  value="CANCEL">
        </div>
    </form>
    
    
</div>

<script src="{% static 'dompet_js/topup.js' %}"></script>

{% endblock %}