{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basdat Testing</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% if username %}
        <h3>Welcome {{username}}, <a href="{% url 'event:logout' %}">logout</a></h3>
    {% else %}
        <h3>You aren't logged in! <a href="{% url 'event:login' %}">Login</a></h3>
    {% endif %}

    <h4>See events <a href="{% url 'event:index' %}">here</a></h4>
    <h4>Make your own events <a href="{% url 'event:create_event' %}">here</a></h4>
    {% block content %}
    {% endblock %}
</body>
</html>