{% extends "event/base.html" %}
{% block content %}

    <form method="POST" action="{% url 'event:create_event' %}">
        {% csrf_token %}

        {% if username %}
            <h3>Creating event for {{username}}</h3>
        {% else %}
            <input name="owner" placeholder="Owner's name">
        {% endif %}

        <input name="name" placeholder="Event name">
        <input name="number" type="number" placeholder="Event number">
        <input type="submit" value="Create Event">


    </form>

{% endblock %}