{% extends "event/base.html" %}
{% block content %}

    {% if username %}
        <h1>Showing events for the organizer: '{{username}}'</h1>
    {% else %}
        <h1>Showing all events</h1>
    {% endif %}

    {% for event in event_query %}
        <h3>{{event.0}}</h3>
        <div>Made by {{event.2}}</div>
        <div>Number: {{event.1}}</div>
    {% endfor %}

{% endblock %}