{% extends "event/base.html" %}
{% block content %}

    {% if username %}
        <form action="{% url 'event:logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
    {% else %}
        <form action="{% url 'event:login' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Log in as owner_one">
        </form>
    {% endif %}
    
    <br>
    <a href="{% url 'event:index' %}">See Events</a>
{% endblock %}