{% extends "users/base.html" %}
{% block content %}


<div class="container py-3">

<!--    {% if messages %}-->
<!--      {% for message in messages %}-->
<!--        <div class="alert alert-{{message.tags}} fade show" role="alert">-->
<!--          {{message}}-->
<!--        </div>-->
<!--      {% endfor %}-->
<!--    {% endif %}-->

    <div class="d-flex justify-content-center">
        <h1>Show all available event for {{pengguna}}</h1>
    </div>



    <table class="table mt-3">
        <thead class="bg-1">
          <tr>
            <th scope="col">Nama Event</th>
            <th scope="col">Tanggal Mulai</th>
            <th scope="col">Tanggal Selesai</th>
            <th scope="col">Jam Mulai</th>
            <th scope="col">Jam Selesai</th>
            <th scope="col">Kapasitas</th>
            <th scope="col">Tiket Tersedia</th>
          </tr>
        </thead>
        <tbody>
            {% for event in event_query %}
                <tr class="bg-4 {{dompet.4}}">
                    <th scope="row">{{event.1}}</th>
                    <td>{{event.2}}</td>
                    <td>{{event.3}}</td>
                    <td>{{event.4}}</td>
                    <td>{{event.5}}</td>
                    <td>{{event.6}}</td>
                    <td>{{event.7}}</td>

                    <td>
                        <a href="{% url 'transaksi:pesan_tiket' event.0 %}">
                            [Pesan Tiket]
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>

</div>

{% endblock %}


