{% extends "users/base.html" %}
{% block content %}
{% load static %}

<head>
        <script type="text/javascript" src="{% static 'javascript/table_row.js' %}"></script>

</head>

<h1> Pesan Tiket Event</h1>

<div id="deksripsi">
    <h6>Tema Event : {{nama_tema}}</h6>
    <h6>Nama Event : {{nama_event}}</h6>
    <h6>Deskripsi : {{deskripsi}}</h6>
    <h6>Tanggal : {{tanggal_mulai}} - {{tanggal_selesai}}</h6>
    <h6>Lokasi : {{nama_lokasi}}</h6>
    <h6>Tipe Event : {{nama_tipe}}</h6>
</div>
<br>
<br>
<div>
{% if kelas_tiket_silver %}
<form method="GET"  action="{% url 'transaksi:allevents'%}">
    {% csrf_token %}

      <ul>Kelas : {{kelas_tiket_silver}} - Tarif : Rp.{{tarif_tiket_silver}} - kapasitas :{{kapasitas_tersedia_tiket_silver}}  - kapasitas tersedia : {{kapasitas_tersedia_tiket_silver}}</ul>
      <table id="tbl">
          <tbody>
   <tr >
      <td><input type="text" name="Name" placeholder="Nama Pemesan" /></td>
      <td><input type="text" name="Email" placeholder="Email Pemesan" /></td>
      <td><input type="button" id="btn-delete-row" value="Delete Row" /></td>
    </tr>

          </tbody>
</table>
    <input type="button" class="button add_another" value="Tambah jumlah tiket"/>


{% else %}
      <h1>Maaf tidak ada tiket yang tersedia</h1>
{% endif %}
<div>
    <button type="submit"  id="pesan_btn" class="btn btn-success">
        Pesan
      </button>
      </div>

      </form>

</div>





{% endblock %}