{% extends "users/base.html" %}
{% load static %}
{% block content %}

<div class="container py-3">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}


    <div class="d-flex justify-content-center">
        <h1>Buat Testimoni</h1>
    </div>

    
    <form method="POST" action="{% url 'testimoni:create_testimoni' %}">
		{% csrf_token %}
		<div class="d-flex align-items-center">
			<h4>Pilih Event :</h4>
			<select name="nama_event" id="nama_event_selector" class="ml-2">
			  {% for event in selected_testimoni_query %}
         <option value="{{event.1}}">{{event.1}}</option>
			  {% endfor %}
			</select>
		</div>
		<br>

      <div class="d-flex align-items-center">
        <h4 class="m-0 p-0">Rating</h4>
        <input name="rating" id="rating" type="number" oninput="validity.valid||(value='');" min="0" max="5" class="ml-1" value="" placeholder="Rating">
      </div>

      <br>

      <div class="d-flex align-items-center">
        <h4 class="m-0 p-0">Foto</h4>
        <input name="foto" id="foto" type="text"  class="form-width form-control ml-4" value="" >
      </div>

      <br>

      <div class="d-flex align-items-center">
        <h4 class="m-0 p-0">Isi</h4>
        <input name="isi" id="isi" type="text"  class="form-control ml-4" value="" >
      </div>
		
		

      <br>

      <button type="submit" id="topup_btn" class="btn btn-success" >
        Buat Testimoni
		  </button>
      <input type="hidden" name="status" id="status"  value="CREATE">

    </form>
    
    <form method="POST" action="{% url 'testimoni:create_testimoni' %}">
      {% csrf_token %}
      
      <button type="submit" id="topup_btn" class="btn btn-danger" >
        Cancel
	  	</button>
      <input type="hidden" name="status" id="status"  value="CANCEL">
    </form>

    

</div>

<script src="{% static 'dompet_js/topup.js' %}"></script>

{% endblock %}