{% extends "users/base.html" %}
{% load static %}
{% block content %}

<div class="container py-3">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}


    
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <div class="d-flex justify-content-center">
        <h1>Hapus Testimoni</h1>
    </div>

    <div class="d-flex justify-content-center">
        <h1>Apakah  anda yakin untuk menghapus testimoni ini?</h1>
    </div>

    
    <form method="POST" action="{% url 'testimoni:delete_testimoni' %}" class = "d-flex justify-content-center">
		{% csrf_token %}

      <button type="submit" id="topup_btn" class="btn btn-success" >
        Ya
      </button>
      <input type="hidden" name="status" id="status"  value="DELETE">
    </form>

    <form method="POST" action="{% url 'testimoni:delete_testimoni' %}" class = "d-flex justify-content-center">
      {% csrf_token %}
      <button type="submit" id="topup_btn" class="btn btn-danger" >
        Tidak
      </button>
      <input type="hidden" name="status" id="status"  value="CANCEL">
    </form>

    

</div>

<script src="{% static 'dompet_js/topup.js' %}"></script>

{% endblock %}