{% extends "users/base.html" %}
{% load static %}
{% block content %}

<div class="container py-3">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <div class="d-flex justify-content-center">
        <h1>Testimoni</h1>
    </div>

    
    <table class="table mt-3">
        <thead class="bg-1">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Nama Event</th>
            <th scope="col">Rating</th>
            <th scope="col">Isi</th>
            <th scope="col">Foto</th>
            <th scope="col">[Edit]</th>
            <th scope="col">[Delete]</th>
          </tr>
        </thead>
        <tbody>
            {% for testimoni in testimoni_query %}
                <tr class="bg-4 {{testimoni.6}">
                    <th scope="row">{{testimoni.0}}</th>
                    <td>{{testimoni.1}}</td>
                    <td>{{testimoni.2}}</td>
                    <td>{{testimoni.3}}</td>
                    <td>{{testimoni.4}}</td>
                    <td>{{testimoni.5}}</td>
                    <td>
                        <a href="{% url 'testimoni:edit_testimoni' %}?testimoni={{testimoni.6}}" class="btn btn-danger">
                            Edit
                        </a>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'testimoni:testimoni_view' %}">
                            {% csrf_token %}
                            <input type="hidden" name="email_pemilik_tiket" id="email_pemilik_tiket"  value="{{testimoni.7}}">
                            <input type="hidden" name="waktu_transaksi" id="waktu_transaksi"  value="{{testimoni.8}}">
                            <input type="hidden" name="tanggal_transaksi" id="tanggal_transaksi"  value="{{testimoni.9}}">
                            <input type="hidden" name="timestamp_testimoni" id="timestamp_testimoni"  value="{{testimoni.10}}">
                            <button type="submit" id="topup_btn" class="btn btn-danger">
                                Delete
                            </button>                   
                        </form>
                    </td>
                </tr>     
            {% endfor %}
        </tbody>
    </table>




</div>

<script src="{% static 'dompet_js/topup.js' %}"></script>

{% endblock %}