{% extends "users/base.html" %}
{% block content %}
<div class="container py-3">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <div class="d-flex justify-content-between">
        <h1>Event+ - Edit Profile Pengunjung</h1>
    </div>

    <form method="POST" action="{% url 'profil_pengguna:edit_pengunjung' %}">
        {% csrf_token %}
        <p>Email :
            <input type="text" value="{{email}}" class="form-control" name="email" placeholder="Email" required>
        </p>

        <p>Nama :
            <input type="text" value="{{nama}}" class="form-control" name="nama" placeholder="Nama" required>
        </p>

        <p>Alamat :
            <input type="text" value="{{alamat}}" class="form-control" name="alamat" placeholder="Alamat" required>
        </p>
        
        <button type="submit" class="btn btn-success">Save Profile</button>
        <a href="{% url 'profil_pengguna:profil_pengunjung' %}" class="btn btn-danger">Cancel</a>
    </form>

</div>
{% endblock %}