{% extends "users/base.html" %}
{% block content %}
<div class="container py-3">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <div class="d-flex justify-content-between">
        <h1>Event+ - Edit Profile Organizer</h1>
    </div>

    <form method="POST" action="{% url 'profil_pengguna:edit_organizer' %}">
        {% csrf_token %}
        <p>Email :
            <input type="text" value="{{email}}" class="form-control" name="email" placeholder="Email" required>
        </p>

        <p>Nama :
            <input type="text" value="{{nama}}" class="form-control" name="nama" placeholder="Nama" required>
        </p>

        <h3>Identitas Organizer</h3>

        <p>NPWP :
            <input type="text" value="{{npwp}}" class="form-control" name="npwp" placeholder="NPWP" required>
        </p>

        {% ifequal request.session.tipe "Individu" %}
        <p>No. KTP :
            <input type="text" value="{{no_ktp}}" class="form-control" name="no_ktp" placeholder="No. KTP" required>
        </p>
        {% endifequal %}
        
        <button type="submit" class="btn btn-success">Save Profile</button>
        <a href="{% url 'profil_pengguna:profil_organizer' %}" class="btn btn-danger">Cancel</a>
    </form>

</div>
{% endblock %}