{% extends "users/base.html" %}
{% block content %}
<div class="container py-3">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <div class="d-flex justify-content-between">
        <h1>Event+ - Profile Pengunjung</h1>
        <a class="btn btn-primary btn-lg" href="{% url 'profil_pengguna:edit_pengunjung' %}"><h3>[Edit Profile]</h3></a>
    </div>

    <p>Email : <b>{{email}}</b></p>
    <p>Nama : <b>{{nama}}</b></p>
    <p>Alamat : <b>{{alamat}}</b></p>

    <a href="{% url 'dompet:dompet_view' %}"><u>Lihat dompet saya</u></a>
</div>
{% endblock %}