.bg-1 {
    background-color: #df7861;
}

.bg-2 {
    background-color: #ecb390;
}

.bg-3 {
    background-color: #ecdfc8;
}

.bg-4 {
    background-color: #fcf8e8;
}

.form-width {
    width: 300px;
}

.height-nav {
    height: 56px;
}

.main-container {
    min-height: calc(100vh - 112px);
}

/* Input number with no arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}