{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS External -->
    <link rel="stylesheet" href="{% static 'users_css/users.css' %}">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    
    <title>Event+</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-1">
      <div class="container">
        <a class="navbar-brand" href="{% url 'users:landing' %}">Event+</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'users:landing' %}">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          
          <!-- Case belum login -->
          {% if not request.session.pengguna %}
            <a href="{% url 'users:login' %}">
              <button class="btn btn-info">
                Login
              </button>
            </a>
          <!-- Case sudah login -->
          {% else %}
            <h5 class="text-light m-0 p-0 mr-2">Selamat datang, {{request.session.pengguna}}</h5>
            <a href="{% url 'users:logout' %}">
              <button class="btn btn-danger">
                Logout
              </button>
            </a>
          {% endif %}

        </div>
        </div>
    </nav>


    <div class="main-container bg-3">
        {% block content %}
        {% endblock %}
    </div>


    <div class="d-flex justify-content-center align-items-center height-nav bg-1 text-light">
        Made by Kelompok 3 - Basis Data (J) Reguler Gasal 2020/2021
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <!-- JS External -->
    <script src="{% static 'users_js/reg_organizer.js' %}"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>