{% extends "users/base.html" %}
{% load static %}
{% block content %}

<h3 class="text-center py-4">Daftar Event</h3>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{message.tags}} fade show" role="alert">
      {{message}}
    </div>
  {% endfor %}
{% endif %}
      
<table class="table table-hover table-bordered" id="daftar-item-table">
    <thead>
      <tr class="table-light" id="table-header">
        <th>No</th>
        <th>Tema Event</th>
        <th>Nama Event</th>
        <th>Lokasi</th>
        <th>Tanggal</th>
        <th>Jam</th>
        <th>Kapasitas Total</th>
        <th>Kapasitas Total Tersedia</th>

        {% ifequal request.session.tipe "Pengunjung" %}
        <th>Pesan Tiket</th>
        {% endifequal %}

        {% ifequal request.session.tipe "Perusahaan" %}
        <th>Edit Event</th>
        <th>Delete Event</th>
        {% endifequal %}

        {% ifequal request.session.tipe "Individu" %}
        <th>Edit Event</th>
        <th>Delete Event</th>
        {% endifequal %}
      </tr>
    </thead>
    <tbody class="item-table">
      {% block table %}
      {% endblock %}
        {% for nama, tema, kapasitas_total,kapasitas_tersedia, tanggal, jam, lokasi, organizer, is_dimiliki,is_active, id_event in events %}
        <tr class="table-light">
            <td>{{ forloop.counter }}</td>
            <td>{{ tema }}</td>
              <td>{{ nama }}</td>
            <td>{{ lokasi }}</td>
            <td>{{ tanggal }}</td>
            <td>{{ jam }}</td>
            <td>{{ kapasitas_total }}</td>
            <td>{{ kapasitas_tersedia }}</td>

            {% ifequal request.session.tipe "Pengunjung" %}
            <td><a href="/#">Pesan</a></td>
            {% endifequal %}

            {% if not is_active %}
            <td>X</td>
            <td>X</td>
            {% elif request.session.tipe == "Perusahaan" or request.session.tipe == "Individu" %}
            
              {% if is_dimiliki %}
              <td>
                <a href="{% url 'users:update_event' id_event %}">
                  <button class="btn btn-primary">
                    Edit
                  </button>
                </a>
              </td>
              <td>
                <a href="{% url 'users:delete_event' id_event %}">
                  <button class="btn btn-danger">
                    Delete
                  </button>
                </a>
              </td>
              {% else %}
              <td>X</td>
              <td>X</td>
              {% endif %}
            {% endif %}

          </tr>
        {% endfor %}
      </tbody>
</table>

{% endblock %}