{% extends "users/base.html" %}
{% load static %}
{% block content %}

<h2 class="text-center py-3">
    Hapus Event
</h2>

<h4 class="text-center">
    Apakah anda yakin untuk menghapus Event ini? ({{nama_event}})
</h4>

<div class="d-flex justify-content-center">
    <form method="POST" action="{% url 'users:delete_event' id_event %}">
    {% csrf_token %}
        <button type="submit" class="btn btn-success mr-3">Ya</button>
    </form>
    <a href="{% url 'users:daftar_event' %}" class="btn btn-danger">Tidak</a>
</div>


<script src="{% static 'users_js/tambah_event.js' %}"></script>


{% endblock %}
