{% extends "users/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron rounded-0 bg-4">
    <h1 class="display-4">Event+</h1>
    <p class="lead">Organizing events made easy</p>
    <hr class="my-4">
    {% if request.session.pengguna %}
      <p class="lead">Selamat datang {{request.session.pengguna}}</p>
      <a href="{% url 'profil_pengguna:profile' %}"><u>Profile anda</u></a>
      <br>
      {% ifequal request.session.tipe "Pengunjung" %}
        <a href="{% url 'dompet:dompet_view' %}"><u>Lihat dompet saya</u></a>
        <br>
        <a href="{% url 'testimoni:testimoni_view' %}"><u>Lihat testimoni saya</u></a>
        <br>
        <a href="{% url 'testimoni:create_testimoni' %}"><u>Buat Testimoni</u></a>
        <br>
      {% endifequal %}
      {% ifequal request.session.tipe "Perusahaan" %}
        <a class="btn btn-primary btn-info" href="{% url 'users:daftar_event' %}" role="button">Lihat Event Saya</a>
        <a class="btn btn-primary btn-info" href="{% url 'users:tambah_event' %}" role="button">Buat Event</a>
      {% endifequal %}
    {% else %}
      <p>Daftarkan diri anda sekarang</p>
      <p class="lead">
        <a class="btn btn-primary btn-info" href="{% url 'users:login' %}" role="button">Login</a>
        <a class="btn btn-primary btn-primary" href="{% url 'users:register_pengunjung' %}" role="button">Register Pengunjung</a>
        <a class="btn btn-primary btn-secondary" href="{% url 'users:register_organizer' %}" role="button">Register Organizer</a>
      </p>
    {% endif %}
    <br>
    
    <section>
      <h3 class="display-4" style="font-size: 30px;">Daftar Event</h3>
      <br>
      <input type="text" id="myInput" placeholder="Search for names.." title="Type in a name">
      
      <div class="Daftar-Item-Table">
        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    <th>No</th>
                    <th>Tema Event</th>
                    <th>Nama Event</th>
                    <th>Organizer</th>
                    <th>Lokasi</th>
                    <th>Tanggal</th>
                    <th>Jam</th>
                    <th>Kapasitas Total</th>

                    {% if request.session.tipe == "Pengunjung" or not request.session.tipe %}
                    <th>Pesan Tiket</th>
                    {% endif %}

                    {% ifequal request.session.tipe "Perusahaan" %}
                    <th>Edit Event</th>
                    <th>Delete Event</th>
                    {% endifequal %}

                    {% ifequal request.session.tipe "Individu" %}
                    <th>Edit Event</th>
                    <th>Delete Event</th>
                    {% endifequal %}
                  </tr>
                </thead>
                <tbody class="item-table">
                  {% block table %}
                  {% endblock %}
                    {% for nama, tema, kapasitas_total,kapasitas_tersedia, tanggal, jam, lokasi, organizer, is_dimiliki,is_active, id_event in events %}
                    <tr class="table-light">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ tema }}</td>
                          <td>{{ nama }}</td>
                        <td>{{ organizer }}</td>
                        <td>{{ lokasi }}</td>
                        <td>{{ tanggal }}</td>
                        <td>{{ jam }}</td>
                        <td>{{ kapasitas_total }}</td>

                        {% if request.session.tipe == "Pengunjung" or not request.session.tipe %}
                        <td><a href="/#">Pesan</a></td>

                        {% elif request.session.tipe == "Perusahaan" or request.session.tipe == "Individu" %}
                        
                          {% if is_dimiliki and is_active %}
                          <td>
                            <a href="{% url 'users:update_event' id_event %}">
                              <button class="btn btn-primary">
                                Edit
                              </button>
                            </a>
                          </td>
                          <td>
                            <a href="{% url 'users:delete_event' id_event %}">
                              <button class="btn btn-danger">
                                Delete
                              </button>
                            </a>
                          </td>
                          {% else %}
                          <td>X</td>
                          <td>X</td>
                          {% endif %}
                        {% endif %}

                      </tr>
                    {% endfor %}
                  </tbody>
            </table>

            <!-- The Modal -->
            <div class="modal" id="deleteItemModal">
              <div class="modal-dialog">
                  <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                      <h4 class="modal-title">Delete Item</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                      Apakah kamu yakin akan menghapus Item ini?
                    </div>
                    <!-- Modal footer -->
                  <div class="modal-footer">
                      <button type="button" class="btn btn-green yes-delete" data-dismiss="modal">Ya</button>
                      <button type="button" class="btn btn-green" data-dismiss="modal">Tidak</button>
                </div>
              </div>
            </div>
          </div> 
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#daftar-item-table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).attr("id") == "table-header")
      });
    });
  });
  </script>
{% endblock %}