{% extends "users/base.html" %}
{% load static %}
{% block content %}
<div class="p-5 d-flex flex-column justify-content-center align-items-center">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'users:login' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <h3>Event+ - Login</h3>
        <div class="pb-1">Email</div>
        <div class="form-group">
          <input type="email" name="email" class="form-width form-control" aria-describedby="emailHelp" placeholder="Enter email" required>
        </div>
        <div class="pb-1">Password</div>
        <div class="form-group">
          <input type="password" name="password" class="form-width form-control" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-info">Login</button>
      </form>
</div>

{% endblock %}