{% extends "users/base.html" %}
{% load static %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">Event+ - Registrasi Pengunjung</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'users:register_pengunjung' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="pb-1">Email</div>
        <div class="form-group">
          <input type="email" name="email" value="{{request.POST.email}}" class="form-width form-control" aria-describedby="emailHelp" placeholder="Enter email" required>
        </div>
        <div class="pb-1">Password</div>
        <div class="form-group">
          <input type="password" name="password" class="form-width form-control" placeholder="Password" required>
        </div>
        <div class="pb-1">Nama Lengkap (2 kata)</div>
        <div class="form-group">
          <input type="text" name="nama" value="{{request.POST.nama}}" class="form-width form-control" placeholder="ex: John Doe" required>
        </div>
        <div class="pb-1">Alamat</div>
        <div class="form-group">
          <input type="text" name="alamat" value="{{request.POST.alamat}}" class="form-width form-control" placeholder="Alamat" required>
        </div>

        <div class="d-flex w-100 justify-content-around">
            <button type="submit" class="btn btn-success">Register</button>
            <a href='{% url "users:landing" %}'>
              <div class="btn btn-danger">Cancel</div>
            </a>
        </div>

      </form>
</div>

{% endblock %}