{% extends "users/base.html" %}
{% load static %}
{% block content %}

<div class="p-2 pb-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3">Event+ - Registrasi Organizer</h3>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'users:register_organizer' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="d-flex">
            <div class="form-check mr-2">
                <input class="form-check-input" type="radio" name="tipe_organizer" id="individu" value="Individu" checked>
                <label class="form-check-label" for="individu">
                Individu
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tipe_organizer" id="perusahaan" value="Perusahaan">
                <label class="form-check-label" for="perusahaan">
                Perusahaan
                </label>
            </div>
        </div>

        <div class="pb-1 mt-3">Email</div>
        <div class="form-group">
          <input name="email" value="{{request.POST.email}}" type="email" class="form-width form-control" aria-describedby="emailHelp" placeholder="Enter email" required>
        </div>
        <div class="pb-1">Password</div>
        <div class="form-group">
          <input name="password" type="password" class="form-width form-control" placeholder="Password" required>
        </div>
        <div class="pb-1">NPWP</div>
        <div class="form-group">
          <input name="npwp" value="{{request.POST.npwp}}" type="text" class="form-width form-control" placeholder="NPWP" required>
        </div>
        <div class="pb-1">No. KTP</div>
        <div class="form-group">
          <input name="ktp" value="{{request.POST.ktp}}" type="text" class="form-width form-control" placeholder="Nomor KTP" required>
        </div>
        <div class="pb-1" id="nama_label">Nama Lengkap (2 kata)</div>
        <div class="form-group">
          <input id="nama_input" value="{{request.POST.nama}}" name="nama" type="text" class="form-width form-control" placeholder="ex: John Doe" required>
        </div>
        <div class="pb-1">Alamat</div>
        <div class="form-group">
          <input name="alamat" value="{{request.POST.alamat}}" type="text" class="form-width form-control" placeholder="Alamat" required>
        </div>

        <div class="d-flex w-100 justify-content-around">
            <button type="submit" class="btn btn-success">Register</button>
            <a href='{% url "users:landing" %}'>
              <div class="btn btn-danger">Cancel</div>
            </a>
        </div>

      </form>
</div>

{% endblock %}