{% extends "users/base.html" %}
{% load static %}
{% block content %}
<div class="p-5 d-flex flex-column justify-content-center align-items-center">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'users:tambah_event' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <h3>Event+ - Buat Event Baru</h3>
        <div class="pb-1">Nama Event</div>
        <div class="form-group">
            <input type="text" name="name" value="{{request.POST.name}}" class="form-width form-control"  placeholder="Enter name" required>
        </div>
        <div class="pb-1">Deskripsi Event</div>
        <div class="form-group">
          <input type="text" name="desc" value="{{request.POST.desc}}" class="form-width form-control"  placeholder="Enter description" required>
        </div> 



        <div class="pb-1">Tema Event</div>
        <div class="form-group" style="background-color: white;border-color: grey;border-radius: 5px; padding: 15px; text-align: center;">
            
            <div class="row">
                {% for index, nama_tema, chosen_status in tema_lst %}
                    <div class="col-lg-3">
                        <input type="checkbox" name="tema_{{index}}" value="{{nama_tema}}"
                            {% if chosen_status %}
                            checked
                            {% endif %}
                        >
                        <label for="tema_{{index}}">{{nama_tema}}</label>
                        <br>
                    
                    </div>
                {% endfor %}
            </div>




        </div>




        <div class="pb-1">Tanggal Mulai</div>
        <div class="form-group">
            <input value="{{request.POST.tmulai}}" type="date" name="tmulai" class="form-width form-control"  placeholder="Enter start date" required>
        </div>


        <div class="pb-1">Tanggal Selesai</div>
        <div class="form-group">
            <input value="{{request.POST.tselesai}}" type="date" name="tselesai" class="form-width form-control"  placeholder="Enter finish date" required>
        </div>


        <div class="pb-1">Jam Mulai</div>
        <div class="form-group">
            <input value="{{request.POST.jmulai}}" type="time" name="jmulai" class="form-width form-control"  placeholder="Enter start time" required>
        </div>


        <div class="pb-1">Jam Selesai</div>
        <div class="form-group">
            <input value="{{request.POST.jselesai}}" type="time" name="jselesai" class="form-width form-control"  placeholder="Enter finish time" required>
        </div>
        
        <div class="pb-1">Tipe Event</div>
        <div class="form-group">
            <input value="{{request.POST.tipe_event}}" type="text" name="tipe_event" class="form-width form-control"  placeholder="Tipe Event" required>
        </div>

        <div class="pb-1">Lokasi event</div>
        <table id="lokasi_input">
            <tr>
                <th>Nama Gedung</th>
                <th>Kota</th>
                <th>Alamat</th>
                <th></th>
            </tr>
        
            {% if request.method == "POST" and lokasi %}
                {% for lok in lokasi %}
                    <tr>
                        <td>
                            <input value="{{lok.1}}" type="text" name="gedung_{{lok.0}}" class="form-width form-control"  placeholder="Nama Gedung 1">
                        </td>
                        <td>
                            <input value="{{lok.2}}" type="text" name="kota_{{lok.0}}" class="form-width form-control"  placeholder="Nama Kota 1">
                        </td>
                        <td>
                            <input value="{{lok.3}}" type="text" name="alamat_{{lok.0}}" class="form-width form-control"  placeholder="Alamat 1">
                        </td>
                        <td>
                            <button class="btn btn-primary btn-info" id="hapus_row" type="button">Hapus Row</button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        <input type="text" name="gedung_1" class="form-width form-control"  placeholder="Nama Gedung 1">
                    </td>
                    <td>
                        <input type="text" name="kota_1" class="form-width form-control"  placeholder="Nama Kota 1">
                    </td>
                    <td>
                        <input type="text" name="alamat_1" class="form-width form-control"  placeholder="Alamat 1">
                    </td>
                    <td>
                        <button class="btn btn-primary btn-info" id="hapus_row" type="button">Hapus Row</button>
                    </td>

                </tr>
            {% endif %}
        </table>
        <div class="d-flex justify-content-end w-100">
            <button type="button" class="btn btn-primary" id="tambah_row_lokasi">Tambah Row</button>
        </div>

        <div class="pb-1">Daftar Kelas Tiket</div>
        <table id="tiket_input">
            <tr>
                <th>Nama Kelas Tiket</th>
                <th>Tarif</th>
                <th>Kapasitas</th>
                <th></th>
            </tr>
            {% if request.method == "POST" and kls_tiket %}
                {% for kls in kls_tiket %}
                <tr>
                    <td>
                        <input value="{{kls.1}}" type="text" name="nama_kelas_{{kls.0}}" class="form-width form-control"  placeholder="Nama Kelas 1">
                    </td>
                    <td>
                        <input value="{{kls.2}}" type="number" name="tarif_{{kls.0}}" class="form-width form-control"  placeholder="Tarif 1">
                    </td>
                    <td>
                        <input value="{{kls.3}}" type="number" name="kapasitas_{{kls.0}}" class="form-width form-control"  placeholder="Kapasitas 1">
                    </td>
                    <td>
                        <button class="btn btn-primary btn-info"  id="hapus_row" type="button">Hapus Row</button>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        <input type="text" name="nama_kelas_1" class="form-width form-control"  placeholder="Nama Kelas 1">
                    </td>
                    <td>
                        <input type="number" name="tarif_1" class="form-width form-control"  placeholder="Tarif 1">
                    </td>
                    <td>
                        <input type="number" name="kapasitas_1" class="form-width form-control"  placeholder="Kapasitas 1">
                    </td>
                    <td>
                        <button class="btn btn-primary btn-info"  id="hapus_row" type="button">Hapus Row</button>
                    </td>
                </tr>
            {% endif %}
        </table>
        <div class="d-flex justify-content-end w-100">
            <button type="button" class="btn btn-primary" id="tambah_row_tiket">Tambah Row</button>
        </div>

        <div class="d-flex p-5 w-100 justify-content-center">
            <button type="submit" class="btn btn-success mr-3">Create Event</button>
            <a href='{% url "users:landing" %}'>
            <div class="btn btn-danger">Cancel</div>
            </a>
        </div>
        
    </form>
</div>


<script src="{% static 'users_js/tambah_event.js' %}"></script>


{% endblock %}
