{% extends "users/base.html" %}
{% load static %}
{% block content %}
<div class="p-5 d-flex flex-column justify-content-center align-items-center">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'users:update_event' id_event %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <h3>Event+ - Update Event</h3>
        <div class="pb-1">Nama Event</div>
        <div class="form-group">
            <input value="{{event_row.1}}" type="text" name="name" value="{{request.POST.nama}}" class="form-width form-control"  placeholder="Enter name" required>
        </div>
        <div class="pb-1">Deskripsi Event</div>
        <div class="form-group">
          <input value="{{event_row.6}}" type="text" name="desc" value="{{request.POST.desc}}" class="form-width form-control"  placeholder="Enter description" required>
        </div> 



        <div class="pb-1">Tema Event</div>
        <div class="form-group" style="background-color: white;border-color: grey;border-radius: 5px; padding: 15px; text-align: center;">
            
            <div class="row">
                {% for index, nama_tema, chosen_status in tema_lst %}
                    <div class="col-lg-3">
                        <input type="checkbox" name="tema_{{index}}" value="{{nama_tema}}"
                            {% if chosen_status %}
                            checked
                            {% endif %}
                        >
                        <label for="tema_{{index}}">{{nama_tema}}</label>
                        <br>
                    
                    </div>
                {% endfor %}
            </div>




        </div>




        <div class="pb-1">Tanggal Mulai</div>
        <div class="form-group">
            <input value="{{event_row.2}}" type="date" name="tmulai" class="form-width form-control"  placeholder="Enter start date" required>
        </div>


        <div class="pb-1">Tanggal Selesai</div>
        <div class="form-group">
            <input value="{{event_row.3}}" type="date" name="tselesai" class="form-width form-control"  placeholder="Enter finish date" required>
        </div>


        <div class="pb-1">Jam Mulai</div>
        <div class="form-group">
            <input value="{{event_row.4}}" type="time" name="jmulai" class="form-width form-control"  placeholder="Enter start time" required>
        </div>


        <div class="pb-1">Jam Selesai</div>
        <div class="form-group">
            <input value="{{event_row.5}}" type="time" name="jselesai" class="form-width form-control"  placeholder="Enter finish time" required>
        </div>
        
        <div class="pb-1">Tipe Event</div>
        <div class="form-group">
            <input value="{{event_row.12}}" type="text" name="tipe_event" class="form-width form-control"  placeholder="Tipe Event" required>
        </div>

        <div class="pb-1">Lokasi event</div>
        <table id="lokasi_input">
            <tr>
                <th>Nama Gedung</th>
                <th>Kota</th>
                <th>Alamat</th>
                <th></th>
            </tr>
            {% for idx, nama_gedung, kota, alamat in lokasi_lst %}
            <tr>
                <td>
                    <input value="{{nama_gedung}}" type="text" name="gedung_{{idx}}" class="form-width form-control"  placeholder="Nama Gedung {{idx}}">
                </td>
                <td>
                    <input value="{{kota}}" type="text" name="kota_{{idx}}" class="form-width form-control"  placeholder="Nama Kota {{idx}}">
                </td>
                <td>
                    <input value="{{alamat}}" type="text" name="alamat_{{idx}}" class="form-width form-control"  placeholder="Alamat {{idx}}">
                </td>
                <td>
                    <button class="btn btn-primary btn-info" id="hapus_row" type="button">Hapus Row</button>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="d-flex justify-content-end w-100">
            <button type="button" class="btn btn-primary" id="tambah_row_lokasi">Tambah Row</button>
        </div>

        <div class="pb-1">Daftar Kelas Tiket</div>
        <table id="tiket_input">
            <tr>
                <th>Nama Kelas Tiket</th>
                <th>Tarif</th>
                <th>Kapasitas</th>
                <th></th>
            </tr>
            {% for idx, nama_kelas, tarif, kapasitas in kls_tiket_lst %}
            <tr>
                <td>
                    <input value="{{nama_kelas}}" type="text" name="nama_kelas_{{idx}}" class="form-width form-control"  placeholder="Nama Kelas {{idx}}">
                </td>
                <td>
                    <input value="{{tarif}}" type="number" name="tarif_{{idx}}" class="form-width form-control"  placeholder="Tarif {{idx}}">
                </td>
                <td>
                    <input value="{{kapasitas}}" type="number" name="kapasitas_{{idx}}" class="form-width form-control"  placeholder="Kapasitas {{idx}}">
                </td>
                <td>
                    <button class="btn btn-primary btn-info"  id="hapus_row" type="button">Hapus Row</button>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="d-flex justify-content-end w-100">
            <button type="button" class="btn btn-primary" id="tambah_row_tiket">Tambah Row</button>
        </div>

        <div class="d-flex p-5 w-100 justify-content-center">
            <button type="submit" class="btn btn-success mr-3">Update Event</button>
            <a href='{% url "users:landing" %}'>
            <div class="btn btn-danger">Cancel</div>
            </a>
        </div>
        
    </form>
</div>


<script src="{% static 'users_js/tambah_event.js' %}"></script>


{% endblock %}
