{% extends "users/base.html" %}
{% block content %}

<div class="container py-3">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <div class="d-flex justify-content-center">
        <h1>Dompet saya</h1>
    </div>

    <h4>Nama : {{nama_lengkap}}</h4>
    <h4>Email : {{request.session.email}}</h4>
    
    <table class="table mt-3">
        <thead class="bg-1">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama Dompet</th>
            <th scope="col">No Akun</th>
            <th scope="col">Saldo</th>
            <th scope="col">[Top Up Saldo]</th>
          </tr>
        </thead>
        <tbody>
            {% for dompet in dompet_query %}
                <tr class="bg-4 {{dompet.4}}">
                    <th scope="row">{{dompet.0}}</th>
                    <td>{{dompet.1}}</td>
                    <td>{{dompet.2}}</td>
                    <td>{{dompet.3}}</td>
                    <td>
                        <a href="{% url 'dompet:topup_dompet' %}?dompet={{dompet.1}}">
                            [Top Up]
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>

</div>

{% endblock %}