{% extends "users/base.html" %}
{% load static %}
{% block content %}

<div class="container py-3">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <div class="d-flex justify-content-center">
        <h1>Tambah Saldo</h1>
    </div>

    <h4>Nama : {{nama_lengkap}}</h4>
    <h4>Email : {{request.session.email}}</h4>
    <div class="d-flex align-items-center">
      <h4>Nama Dompet :</h4>
      <select name="nama_dompet" id="nama_dompet_selector" class="ml-2">
        <option value="none">-- Pilih dompet --</option>
        {% for dompet in dompet_query %}
          <option value="{{dompet.1}}">{{dompet.1}}</option>
        {% endfor %}
      </select>
    </div>
    <h4>No Akun : <b><u id="no_akun">...</u></b></h4>

    <br>

    <h4>Saldo saat ini: Rp <b><u id="saldo">...</u></b>,00</h4>

    <form method="POST" action="{% url 'dompet:topup_dompet' %}">
      {% csrf_token %}
      <div class="d-flex align-items-center">
        <h4 class="m-0 p-0">Nominal Top Up: </h4>
        <input name="nominal" id="nominal" type="number" oninput="validity.valid||(value='');" min="0" class="ml-1" value="0" placeholder="Nominal Top Up">
      </div>

      <br>

      <h4>Saldo setelah Top Up: Rp <b><u id="saldo_after">...</u></b>,00</h4>

      <input type="hidden" name="no_akun" id="input_no_akun">
      <button type="submit" disabled id="topup_btn" class="btn btn-success">
        Top Up
      </button>
      <a href="{% url 'dompet:dompet_view' %}" class="btn btn-danger text-light">
        Cancel
      </a>
    </form>

    
    
    

</div>

<!-- Hidden dompet data field -->
<input type="hidden" id="selected_dompet" value="{{request.GET.dompet}}">

{% for dompet in dompet_query %}
  <input type="hidden" id="dompet_{{dompet.1}}" saldo="{{dompet.3}}" no_akun="{{dompet.2}}">
{% endfor %}

<script src="{% static 'dompet_js/topup.js' %}"></script>

{% endblock %}